/* Hide shorts sidemenu link */
.hide-shorts-enabled #endpoint[title="Shorts"] {
    display: none !important;
}

/* Hide section on homepage */
.hide-shorts-enabled ytd-rich-section-renderer:has(a[href*="/shorts"]) {
    display: none !important;
}

/* Hide shorts on search results */
.hide-shorts-enabled a[href*='/shorts/'],
.hide-shorts-enabled .ytGridShelfViewModelHost {
    display: none !important;
}
